.hero {
  margin-top: 8rem;
  width: 100%;
  opacity: 0;

  animation: slideInLeft 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;

  &__text {
    font-size: 1.8rem;
    line-height: normal;
    color: $color-white;

    &--italic {
      font-weight: 300;
      font-style: italic;
    }

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

  &__text-box {
    width: 100%;
    opacity: 0;
    animation: slideInLeft 0.8s 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }
}