.project {
  position: relative;
  max-width: 40rem;
  height: 28rem;
  background-size: cover;
  background-position: center;

  overflow: hidden;

  flex: 1 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(tab-port) {
    flex: 1 1 50%;
  }

  @include respond(phone) {
    flex: 1 1 100%;
  }

  &__overlay {
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    opacity: 0;
    transition: all 0.2s;
  }

  &__details{
    color: $color-grey-dark-3;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: calc(70% + 3rem);
    padding: 1rem 2rem;
    background-color: rgba($color-white, 0.9);

    clip-path: polygon(0 0, 100% 3rem, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 3rem, 100% 100%, 0 100%);
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include respond(tab-land) {
      height: 90%;
    }
  }

  &__title {
    color: $color-accent;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: $font-primary;
    font-size: 1.8rem;
    font-weight: 600;
  }

  &__description {
    margin-bottom: 1rem;
  }

  &__link {
    cursor: pointer;
    padding: 0 0.5rem;
    color: $color-accent;
    border-bottom: 1px solid $color-accent;

    transition: all 0.2s;

    &:hover {
      background-color: $color-accent;
      color: $color-white;
      transform: translateY(-3px) scale(1.01);
    }
  }

  &:hover &__overlay {
    opacity: 1;
    -webkit-backdrop-filter: blur(3px);
  }

  &:hover &__details {
    transform: translateY(0);
    opacity: 1;
  }

  &--computeridea {
    background-image: url('../img/screenshots/computeridea.jpg');
  }

  &--weather-mate {
    background-image: url('../img/screenshots/weather-mate.jpg');
  }
  
  &--yelp-camp {
    background-image: url('../img/screenshots/yelp-camp.jpg');
  }
  &--my-burger {
    background-image: url('../img/screenshots/my-burger.jpg');
  }
  &--natours {
    background-image: url('../img/screenshots/natours.jpg');
  }
  &--trillo {
    background-image: url('../img/screenshots/trillo.jpg');
  }
  &--nexter {
    background-image: url('../img/screenshots/nexter.jpg');
  }
  &--portfolio {
    background-image: url('../img/screenshots/portfolio.jpg');
  }
  &--other {
    background-image: url('../img/screenshots/other.jpg');
  }

}